<!DOCTYPE html>
<html>
  <head>
    <title>Training Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <span id="logo"><img src="https://i.imgur.com/Li5SY9g.jpg" width="60" height="60"></span>
      <span class="nav-item"><a href="/">Home</a></span>
      <span class="nav-item"><a href="/players">Team</a></span>
      <span class="nav-item"><a href="/players/new">Add Player</a></span>
    </nav>


    
